<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

     <link rel="stylesheet" href="../static/home.css">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-white p-2" style="--bs-bg-opacity: 0.5;">
        <div class="container-fluid" style="--bs-bg-opacity: 0.8;">
            <a class="navbar-brand" href="/autobiography"><b>黃子鑒個人網站</b></a>
            <div id="my-nav" class="navbar-toggle collapsed">
                <ul class="navbar-nav mr-auto">
                    <button type="button" class="btn btn-outline-primary col-md-5110">
                        <li class="nav-item active">
                            <a class="nav-link" href="https://www.pu.edu.tw/" target="_blank">靜宜大學</a>
                        </li>
                    </button>
                    <button type="button" class="btn btn-outline-danger col-md-5110">
                        <li class="nav-item active">
                            <a class="nav-link" href="/autobiography" target="_blank">自傳</a>
                        </li>
                    </button>
                     <button type="button" class="btn btn-outline-dark">
                        <li class="nav-item active">
                            <a class="nav-link" href="/work">應徵工作&&興趣何倫碼</a>
                        </li>
                    </button> 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            常用連結
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="https://alcat.pu.edu.tw/index.php">靜宜E校園</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://www.youtube.com/">YouTube</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<DIV>
    <div class="container">
        <div class="row ">
            <div class="card col-6" style="width: rem;">
                <img class="card-img-top" src="../static/2.jpg" alt="Card image cap" height="450">
                <div class="card-body">
                    <h2 class="card-title">個人自傳</h2>
                    <p class="card-text" style="font-size: 25px;">大家好，我是黃子鑒，我是資管二B學生，我的學號是411146588，我目前就讀靜宜大學，目前還沒有專長，平時上網看看自己未來是合做什麼工作，目前有在自己學習網頁設計，也有選修相關的資管課程，平時也有在學習Linux，下面的連結是我學習的管道。</p>
                    <a href="https://linux.vbird.org/" class="btn btn-primary">Linux</a>
                    <a href="https://www1.pu.edu.tw/~tcyang/" class="btn btn-primary">網頁</a>
                </div>
            </div>
            <div class="card col-6" style="width: rem;">
                <img class="card-img-top" src="../static/3.jpg" alt="Card image cap"height="450">
                <div class="card-body">
                    <h2 class="card-title">未來規劃</h2>
                    <p class="card-text" style="font-size: 25px;">在就讀期間，我希望自己能夠增加自己的英文能力，能夠拿到多益的金色證書，在伺服器方面，預計能夠考到RHCSA的證照，有餘力的話再挑戰RHCE，除了學習LINUX外，還要學會架設Zabbix去監控後端是否有異常，找出問題，解決問題，期許自己能夠成為一個更好的人</p>
                </div>
            </div>
            
        </div>
    </div>

</DIV>

</body>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28"
    preserveAspectRatio="none" shape-rendering="auto">
    <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255, 255, 255, 0.7)" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255, 255, 255, 0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255, 255, 255, 0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#ffffff" />
    </g>
</svg>


</html>