<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white p-2" style="--bs-bg-opacity: 0.5;">
        <div class="container-fluid" style="--bs-bg-opacity: 0.8;">
            <a class="navbar-brand" href="/autobiography"><b>黃子鑒個人網站</b></a>
            <div id="my-nav" class="navbar-toggle collapsed">
                <ul class="navbar-nav mr-auto">
                    <button type="button" class="btn btn-outline-primary col-md-5110">
                        <li class="nav-item active">
                            <a class="nav-link" href="https://www.pu.edu.tw/" target="_blank">靜宜大學</a>
                        </li>
                    </button>
                    <button type="button" class="btn btn-outline-info col-md-5110">
                        <li class="nav-item active">
                            <a class="nav-link" href="https://www.echochemical.com/" target="_blank">景明公司網址</a>
                        </li>
                    </button>
                    <button type="button" class="btn btn-outline-danger col-md-5110">
                        <li class="nav-item active">
                            <a class="nav-link" href="/autobiography" target="_blank">自傳</a>
                        </li>
                    </button>
                    <button type="button" class="btn btn-outline-dark">
                        <li class="nav-item active">
                            <a class="nav-link" href="/work">應徵工作&&興趣何倫碼</a>
                        </li>
                    </button>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            常用連結
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="https://alcat.pu.edu.tw/index.php">靜宜E校園</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://www.youtube.com/">YouTube</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/pic1.png" class="d-block " style="height: 650px;width: auto; margin: auto ;" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../static/pic2.png" class="d-block " style="height: 650px;width: auto; margin: auto ;"alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../static/pic3.png" class="d-block" style="height: 650px;width: auto; margin: auto ;" alt="...">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
</div>
    
</div>
        <div class="container">
        <div class="row">
            <div class="col-4 col-md-3 col-sm-3">
                <div class="text">
                    <div style="font-size: 30px;">
                        公司簡介
                    </div>
                    <h4 style="font-weight: bolder;">
                    公司名稱:
                    </h4>
                    景明化工股份有限公司
                    <br>
                    <h4 style="font-weight: bolder;">
                    公司地址:
                    </h4>
                    苗栗縣頭份市蘆竹里工業路16號 (頭份工業區) 
                    <br>
                    <h4 style="font-weight: bolder;">
                    公司簡介:
                    </h4>
                    景明化工股份有限公司自成立以來，以「誠信、創新、品質、專業、效率」
                    作為景明企業經營的核心價值，以滿足客戶需求、提供快速服務與優質商品，
                    作為景明團隊永續追求的目標，同時也是景明對客戶的責任。
                </div>
            </div>
            <div class="col-4" style="color :red">
                <div class="text">
                    <div style="font-size: 30px;">
                    工作內容
                    </div>
                    <ol>
                        <li>
                           電腦、印表機故障排除。    
                        </li>
                        <li>
                            Microsoft Office 操作能力。
                        </li>
                        <li>
                            機房作業管理(管理伺服器、防火牆、交換器、Storage和其他設備)。
                        </li>
                        <li>
                            網路設備Log分析。
                        </li>
                        <li>監控系統的維運。</li>
                        <li>VMware vShpere (ESXI)管理實務。</li>
                        <li>帳號權限調整。</li>
                        <li>資訊設備資產管理</li>
                        <li>郵件系統管理。</li>
                        <li>主管交辦事宜。</li>
                        <li>需至外縣市的分公司協助處理資訊設備問題。</li>
                    </ol>
                </div>
            </div>
            <div class="col-4" style="color :blue">
                <div class="text">
                    <div style="font-size: 30px">
                    工作條件
                    </div>
                    <ol>
                        <li>工作職缺:網路管理工程師</li>
                        <li>工作經歷 不拘</li>
                        <li> 學歷要求 專科以上</li>
                        <li>科系要求:資訊工程相關、資訊管理相關</li>
                        <li>擅長工具:Linux、Vmware、Firewall、TCP/IP</li>
                        <li>工作技能
伺服器網站管理維護、作業系統基本操作、資料備份與復原、電腦設備裝配、資訊設備操作檢修、資訊設備環境設定、網路系統配置</li>
                    </ol>
                </div>
            </div>
            <footer class="text-center">
                    <button type="button " class="text-center" >
                        <a href="/autobiography" class="text-center" style="text-decoration: none;">
                            回到首頁
                        </a>
                    </button>
                </footer>

</body>


</html>